/* FONTS */

@font-face {
    font-family: 'Omnes';
    src: url('../font/omnes-regular-webfont.eot');
    src: url('../font/omnes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/omnes-regular-webfont.woff2') format('woff2'),
         url('../font/omnes-regular-webfont.woff') format('woff'),
         url('../font/omnes-regular-webfont.ttf') format('truetype'),
         url('../font/omnes-regular-webfont.svg#omnes-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'VollkornItalic';
  src: url("../font/vollkorn-italic-webfont.eot");
  src: url("../font/vollkorn-italic-webfont.eot?#iefix") format("embedded-opentype"), 
       url("../font/vollkorn-italic-webfont.woff") format("woff"), 
       url("../font/vollkorn-italic-webfont.ttf") format("truetype"), 
       url("../font/vollkorn-italic-webfont.svg#vollkornitalic") format("svg");
  font-weight: normal;
  font-style: normal; 
}




/* HELPERS */

.table { 
    display: table; 
    position:relative;
    width: 100%; 
    height: 100%; 
}

.row { 
    display: table-row; 
    width: 100%; 
    height: 100%; 
}

.cell {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}




/* GLOBALS */

html, body, #wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 10px;
}

body {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-style: italic;
  background:#0D0D0D;
  color: #FFF;
  letter-spacing: 0.2em;
  user-select: none;
  -webkit-user-select: none;
  margin:0;
  padding:0;
}

section {
  position:relative;
  height:100%;
  width:100%;
  clear:both;
}

.arrow { cursor:pointer !important; width:40px; height:40px; display:block; margin:0 auto; background:url(../img/right_arrow.svg); background-size:cover; }

.tick { background:url(../img/tick.svg); background-size:cover; }




/* HOME */

#splash { 
  height:100%; 
}

.logo {
    position:relative;
    display:block; margin:0 auto;
    max-width:60%;
    max-height:30%;
}

a { text-align:center; letter-spacing: 0.5em; -webkit-font-smoothing:antialiased; font-size:1.6rem; color:#FFF; text-decoration:none; cursor:pointer !important; }

a:hover { text-decoration:underline; }

h1 {
  padding:1.6em 0 0.8em;
  font-size:1.6rem;
  -webkit-font-smoothing:antialiased;
  font-weight:400;
  margin:0;
}

h2 { 
  font-family:"Omnes";
  font-size:2.4rem;
  font-style: normal;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 0.25em;
  padding:0 10%;
  margin:0;
  -webkit-transition:0.2s ease;
  -webkit-transform: translate( 0, -20px );
}

h3 { 
  font-size:1.4rem; 
  font-weight: normal;
  -webkit-transition:0.2s ease 0.05s ;
  -webkit-transform: translate( 0, 20px );
  -webkit-font-smoothing:antialiased;
}

p {
  font-size:1.6rem;
  -webkit-font-smoothing:antialiased;
}

ul {
  list-style:none;
  display:block;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

li {
  display:block;
  position:relative;
  float:left;
  width:50%;
  height:50%;
  cursor:pointer;
}

.img { 
  position:absolute; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  opacity:1; 
  background-size:cover;
  background-position:center center;
  -webkit-transition:0.3s ease;
}

#splash .arrow { background:url(../img/down_arrow.svg); background-size:cover; }

.fixed
{
  position: absolute;
  top: 0;
  left: 0;
}

#footer { height:25%; }

li h2 , li h3 { opacity:0; -webkit-transition:0.3s ease; }
li .arrow { opacity:0; -webkit-transition:0.3s ease 0.1s; }

li:hover .img {
  opacity:0.2;
}

li:hover .arrow {
  -webkit-transform(0,0);
  opacity:1;
}

li:hover h2 {
  -webkit-transform: translate( 0, 0 ); opacity:1;
}

li:hover h3 {
  -webkit-transform: translate( 0, 0 ); opacity:1;
}



/* EXPERIMENT */

#experiment-wrapper { overflow:hidden; }

header { position:absolute; top:0; left:0; display:block; width:100%; height:50px; z-index:999; }
header .arrow { background:url(/img/left_arrow.svg) center center no-repeat; background-size:30%; float:left; width:50px; height:50px; cursor:pointer !important; }
header .cell { width:100%; text-align:left; }
header h1 { padding:18px 0 0 0; font-size:15px; line-height:1em; float:left; }
header .logo { float:right; padding-top:18px; margin-right:15px; height:15px; max-height:none !important; float:right; }

#experiment { position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:#444; }

#overlay { background:rgba(0,0,0,0.75); width:100%; height:100%; opacity:1; transition:0.3s ease; }
#overlay.hide { opacity:0; }

#exp-container { 
  width: 100%;
  margin: 0 auto;
  height: 100%;

}

.link-back:hover { 
  transition:0.15s ease; 
  transform:translateX(-3px); 
}

#instructions .logo { max-width:60%; }

@media( max-width:470px ) {
  header .logo { display:none; }
}

@media( max-width:760px ) {
  li { width:100%; } 
}

@media( min-width:960px ) {
  
}


iframe{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    border:none;
}

